.sidebar {
  float: right;
  z-index: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#sidebarbody {
  width: 300px;
}

.card {
  background-color: #1b1d23;
  border-radius: 0%;
}

.card-header {
  background-color: #1e2026;
  padding-left: 15px;
  padding-right: 12px
}

.botonaso {
  border: 0px;
  border-radius: 0px;
  background-color: #1e2026;
  font-weight: bold;
  color: white;
  outline: none;
  height: 49px;
}

.content {
  display: none;
  overflow: hidden;
}

.opcionasa {
  height: 49px;
}

.botonaso:hover {
  background-color: #2d2f35;
}

.topdiv {
  margin-top: 0%;
  margin-left: 2%;
}

.coinIcon {
  height: 20px;
  border-radius: 50%;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;

  height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}

.tradeContainer {
  overflow-x: hidden;
  overflow-y: scroll;
}

.table {
  background: none;
  margin-left: 5px;
  margin-right: 12px;
}

table th {
  position: sticky;
  background-color: #1e2026;
  top: 0;
  z-index: 10;
}

.dropdown:hover .dropdown-content {
  display: block;
}

html, body {
  background-color: #181a20 !important; 
  height: 100%;
  overflow:hidden!important
}