<html>
<body style="margin-top: 56px;">
  <div class="container-fluid" style="height: 100vh;">
    <div class="row">

      <div class="col-9">
        <div class="row" style="padding-top: 5px;">
          <div class="card text-white mb-3">

              <div class="dropdown" style="width: 170px;">
                <div class="dropbtn card-header botonaso">
                  <span style="font-weight: bold; width: 170px;">
                  
                    <img src="assets/icon/{{coinCode.toLowerCase()}}.png" alt="coin" class="coinIcon">
                    {{coinCode}}/USDT
    
                  </span>
                </div>
                <div class="dropdown-content" style="width: 100%;">
                  <div *ngFor="let coin of coinlist" class="card-header botonaso" (click)="changeCoin(coin.key)" style="position: relative" >
                    <span style="font-weight: bold; width: 170px;">
                    
                      <img src="assets/icon/{{coin.key.toLowerCase()}}.png" alt="coin" class="coinIcon">
                      {{coin.key}}/USDT
    
                    </span>
                  </div>
                </div>
              </div> 

          </div>
          <div class="card text-white mb-3">
            <div class="card-header" style="width: 150px; font-weight: bold; text-align: center;">{{price.toFixed(2)}}</div>
          </div>
        </div>

        <div class="row">
          <div class="card" style="width: 100%; padding:1px">
            <div class="card-header">
              <span *ngFor="let int of intervals" style="float: right">
                <button type="button" class="btn btn-dark" style="margin-left: 5px;"(click)="changeInterval(int)">{{int}}</button>
              </span>
            </div>
            <div class="card-body" style="padding:0px; height: 70vh;">
              
              <div id="container" style="width:100%; height:100%;"></div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-3" style="margin-bottom:0px; padding: 0px">
        <div class="card trade-container" style="background-color: #1e2026; overflow-y: scroll; height: 100vh; margin-bottom:0px; padding-bottom: 0px">
          <div style="color: white; margin-bottom:0px; padding-bottom: 0px">
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th style="text-align: center; border: 0px">
                    Hora
                  </th>
                  <th style="text-align: center; border: 0px">
                    Precio
                  </th>
                  <th style="text-align: center; border: 0px">
                    Cantidad
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let trade of tradeData" style="color: {{trade[3] ? '#cf304a' : '#02c076'}}; margin-top: 5px; background-color: {{trade[3] ? '#2f222a' : '#1b302e'}};">
                  <td style="text-align: center; border: 0px; padding-bottom: 0px; padding-top: 0px">
                    {{trade[0]}}
                  </td>
                  <td style="text-align: center; border: 0px; padding-bottom: 0px; padding-top: 0px">
                    {{trade[1].toFixed(2)}}
                  </td>
                  <td style="text-align: center; border: 0px; padding-bottom: 0px; padding-top: 0px">
                    {{trade[2].toFixed(5)}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    
    </div>
  </div>

  
</body>
</html>