<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-sm navbar-dark" style="background-color: #12161c;">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
        <a class="navbar-brand" href="/">Inicio</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" (click)="redirect()">Precios</a>
                </li> 
            </ul>
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" (click)="redirectNFT()">NFT</a>
              </li> 
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" (click)="redirectConvertidor()">Convertidor</a>
              </li> 
            </ul>
            <span class="navbar-text" style="margin-left: auto;">
              Powered by Binance
            </span>
            
            
        </div>  
    </nav>

    <router-outlet></router-outlet>

    <div class="mefooter">
        <p>Taller de Aplicaciones de Internet Ricas - Segunda Tarea</p>
    </div>

</body>
</html>


  