

.card {
    background-color: #1b1d23;
    border-radius: 0%;
}

.card-header {
  background-color: #1e2026;
  padding-left: 15px;
  padding-right: 12px
}

.botonaso {
  padding-top: 5px;
  border: 0px;
  border-radius: 0px;
  background-color: #1e2026;
  font-weight: bold;
  color: white;
  outline: none;
  height: 50px;
}

.big-text {
  font-size: 25px;
}

.content {
  display: none;
  overflow: hidden;
}

.opcionasa {
  height: 50px;
}

.botonaso:hover {
  background-color: #2d2f35;
}

.topdiv {
  margin-top: 0%;
  margin-left: 2%;
}

.coinIcon {
  height: 30px;
  border-radius: 50%;
  margin-top: -5px
}

.input-guapo {
  background-color: #111318;
  color: white;
  outline: none;
  border: 0px;
  font-weight: bold;
  text-align: right;
  width: 170px;
  font-size: 25px;
  padding-top: 0px;
  padding-bottom: 0px
}

.input-guapo:focus {
  outline: none;
  border: 0px;
  color: white;
  text-align: right;

  background-color: #0c0e13;
}

.big-plain-text {
  padding-top: 5px;
  border: 0px;
  border-radius: 0px;
  background-color: #1e2026;
  font-weight: bold;
  color: white;
  outline: none;
  height: 50px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;

  height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align:justify;
}

.dropdown:hover .dropdown-content {
  display: block;
}
