<html>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <body>
      <div class="main-content">
        <div class="container mt-7">
          <!-- Table -->
         
            <div class="col" style="margin-top: 170px">
              <div class="card">
                <div class="card-header border-0">
                    <div class="card text-black mb-3">
                        <div class="card-header">
                          <table>
                            <tbody>
                              <tr>
                                <td>
                                  <div class="card-header big-text big-plain-text">
                                    CONVERTIR
                                  </div>
                                </td>
                                <td>
                                  <div class="card-header" style="margin-right: 20px">
                                    <input type="text" class="form-control input-guapo" required="true" id="usr" [(ngModel)]="cantidadform">
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    <div class="dropdown" style="width: 170px;">
                                      <div class="dropbtn card-header botonaso">
                                        <span class="big-text" style="font-weight: bold; width: 170px;">
                                        
                                          <img src="assets/icon/{{monedacode1.toLowerCase()}}.png" alt="coin" class="coinIcon">
                                          {{monedacode1}}
                          
                                        </span>
                                      </div>
                                      <div class="dropdown-content" style="width: 100%;">
                                        <div *ngFor="let coin of coinlist" class="card-header botonaso" (click)="changeCoin1(coin.key)" style="position: relative" >
                                          <span class="big-text" style="font-weight: bold; width: 170px;">
                                          
                                            <img src="assets/icon/{{coin.key.toLowerCase()}}.png" alt="coin" class="coinIcon">
                                            {{coin.key}}
                          
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <div style="margin-right: 50px" class="card-header big-text big-plain-text">
                                    A
                                  </div>
                                </td>
                                <td>
                                  <div>
                                    <div class="dropdown" style="width: 170px;">
                                      <div class="dropbtn card-header botonaso">
                                        <span class="big-text" style="font-weight: bold; width: 170px;">
                                        
                                          <img src="assets/icon/{{monedacode2.toLowerCase()}}.png" alt="coin" class="coinIcon">
                                          {{monedacode2}}
                          
                                        </span>
                                      </div>
                                      <div class="dropdown-content" style="width: 100%;">
                                        <div *ngFor="let coin of coinlist" class="card-header botonaso" (click)="changeCoin2(coin.key)" style="position: relative" >
                                          <span class="big-text" style="font-weight: bold; width: 170px;">
                                          
                                            <img src="assets/icon/{{coin.key.toLowerCase()}}.png" alt="coin" class="coinIcon">
                                            {{coin.key}}
                          
                                          </span>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </td>
                                <td>
                                  <button  style="float: center;" class="btn btn-dark btn-lg" (click)="confirmarTodo()" >Confirmar</button>
                                </td>
                              </tr>
                        
                            </tbody>
                          </table>

                          <div class="container mt-7" style="margin-top: 50px;">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="card-header big-text big-plain-text">
                                      {{cantidad}}
                                    </div>
                                  </td>
                                  <td>
                                    <div class="card-header big-text big-plain-text">
                                      {{monedanombre1}}
                                    </div>
                                  </td>
                                  <td>
                                    <div class="card-header big-text big-plain-text">
                                      equivale a
                                    </div>
                                  </td>
                                  <td>
                                    <div class="card-header big-text big-plain-text">
                                      {{conDecimal}}
                                    </div>
                                  </td>
                                  <td>
                                    <div class="card-header big-text big-plain-text">
                                      {{monedanombre2}}
                                    </div>
                                  </td>
                                </tr>
                          
                              </tbody>
                            </table>
                          </div>
                        </div>
                            
                    </div>
                </div>
                
                
              </div>
            </div>
          </div>
      </div>  
    </body>
    
</html>