/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e2026;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d2f35;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

html, body {
  background-color: #181a20 !important; 
  height: 100%;
  overflow:hidden!important
}