<!DOCTYPE html>
<script src="sce"></script>
<html>
<head>
    <title>Cryptochart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
</head>
<body style="margin-top: 56px;">
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" style="margin-left: 15%; margin-right: 15%; margin-top: 30px">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class={{active1}}></li>
      <li data-target="#multi-item-example" data-slide-to="1"class={{active2}}></li>
      <li data-target="#multi-item-example" data-slide-to="2"class={{active3}}></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active" >

        <div class="row">
          <div class="col-md-4">
            <div class="card mb-2">
              <a href={{ref1}}>
              <img class="card-img-top" src={{imagen1}} 
                   alt="Card image cap">
                  </a>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <a href={{ref2}}>
                <img class="card-img-top" src={{imagen2}} 
                     alt="Card image cap">
                    </a>
            </div>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <div class="card mb-2">
              <a href={{ref2}}>
                <img class="card-img-top" src={{imagen3}}  
                     alt="Card image cap">
                    </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/.Slides-->
  </div>
  <table class="table" style="width: 70%; margin-left: 15%; margin-right: 15%">
    <thead>
      <tr>
        <th style="text-align: left; border: 0px">
          <div class="card text-white mb-3">
            <div class="card-header">Divisa</div>
          </div>
        </th>
        <th style="text-align: center; border: 0px">
          <div class="card text-white mb-3">
            <div class="card-header">Precio</div>
          </div>
        </th>
        <th style="text-align: center; border: 0px; width: 200px">
          <div class="card text-white mb-3">
            <div class="card-header">Cambio (24h)</div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let coin of coinArray">
        <td>
          <div class="card text-white mb-3">
            <div class="card-header" style="font-weight: bold;">
              <img src="assets/icon/{{coin.toLowerCase()}}.png" alt="{{coin.toLowerCase()}}" class="coinIcon" style="margin-right: 5px">
              <a class="link" (click)="redirect(coin)">{{coinNames[coinArray.indexOf(coin)]}} ({{coin}}/USDT)</a>
            </div> <!-- reemplazar por combobox -->
          </div>
        </td>
        <td style="text-align: right; border: 0px">
          <div class="card text-white mb-3">
            <div class="card-header">{{priceArray[coinArray.indexOf(coin)].toFixed(2)}}</div>
          </div>
        </td>
        <td style="text-align: right; border: 0px;">
          <div class="card text-white mb-3">
            <div style="color: {{priceChange[coinArray.indexOf(coin)] < 0 ? '#cf304a' : '#02c076'}}" class="card-header">{{priceChange[coinArray.indexOf(coin)].toFixed(1)}}%</div>
          </div>
        </td>
      </tr>

    </tbody>
  </table>

</body>
</html>


  