.sidebar {
  float: right;
  z-index: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

#sidebarbody {
  width: 300px;
}

.topdiv {
  margin-top: 0%;
  margin-left: 2%;
}

.card {
  background-color: #1b1d23;
  border-radius: 0%;
  margin-bottom: 0px!important
}

.card-header {
  background-color: #1e2026;
}

.coinIcon {
  height: 20px;
  border-radius: 50%;
}

.table tr td {
  padding: 0px
}

.table tr th {
  padding: 0px
}

.link {
  color: white!important
}

html {background-color: #181a20 !important; height: 100%}
