<html>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <body>
      <div class="main-content">
        <div class="container-fluid" style="margin-top: 45px; padding-right: 0px">
          <!-- Table -->
         <div class="d-flex justify-content-center" style="height: 70%">
            <div class="col-md-9" style="padding: 5px; margin-top:5vh">
              <div class="card shadow">
                <div class="card-header border-0">
                  <h3 class="mb-0">Colecciones</h3>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Valor total</th>
                        <th scope="col">Volumen (7d)</th>
                        <th scope="col">Ventas (7d)</th>
                        <th scope="col">Volumen Total</th>
                        <th scope="col">Total Ventas</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <a href={{Row1[0]}} class="avatar rounded-circle mr-3">
                              <img alt="Image placeholder" src={{Row1[1]}}>
                            </a>
                            <a href={{Row1[0]}}>
                            <div class="media-body">
                              <span class="mb-0 text-sm">{{Row1[2]}}</span>
                            </div>
                            </a>
                          </div>
                        </th>
                        <td>{{Row1[3]}}</td>
                        <td>{{Row1[4]}}</td>
                        <td>{{Row1[5]}}</td>
                        <td>{{Row1[6]}}</td>
                        <td>{{Row1[7]}}</td>
                        <td>{{Row1[8]}}</td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <a href={{Row2[0]}} class="avatar rounded-circle mr-3">
                              <img alt="Image placeholder" src={{Row2[1]}}>
                            </a>
                            <a href={{Row2[0]}}>
                            <div class="media-body">
                              <span class="mb-0 text-sm">{{Row2[2]}}</span>
                            </div>
                            </a>
                          </div>
                        </th>
                        <td>{{Row2[3]}}</td>
                        <td>{{Row2[4]}}</td>
                        <td>{{Row2[5]}}</td>
                        <td>{{Row2[6]}}</td>
                        <td>{{Row2[7]}}</td>
                        <td>{{Row2[8]}}</td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <a href={{Row3[0]}} class="avatar rounded-circle mr-3">
                              <img alt="Image placeholder" src={{Row3[1]}}>
                            </a>
                            <a href={{Row3[0]}}>
                            <div class="media-body">
                              <span class="mb-0 text-sm">{{Row3[2]}}</span>
                            </div>
                            </a>
                          </div>
                        </th>
                        <td>{{Row3[3]}}</td>
                        <td>{{Row3[4]}}</td>
                        <td>{{Row3[5]}}</td>
                        <td>{{Row3[6]}}</td>
                        <td>{{Row3[7]}}</td>
                        <td>{{Row3[8]}}</td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <a href={{Row4[0]}} class="avatar rounded-circle mr-3">
                              <img alt="Image placeholder" src={{Row4[1]}}>
                            </a>
                            <a href={{Row4[0]}}>
                            <div class="media-body">
                              <span class="mb-0 text-sm">{{Row4[2]}}</span>
                            </div>
                            </a>
                          </div>
                        </th>
                        <td>{{Row4[3]}}</td>
                        <td>{{Row4[4]}}</td>
                        <td>{{Row4[5]}}</td>
                        <td>{{Row4[6]}}</td>
                        <td>{{Row4[7]}}</td>
                        <td>{{Row4[8]}}</td>
                      </tr>
                      <tr>
                        <th scope="row">
                          <div class="media align-items-center">
                            <a href={{Row5[0]}} class="avatar rounded-circle mr-3">
                              <img alt="Image placeholder" src={{Row5[1]}}>
                            </a>
                            <a href={{Row5[0]}}>
                            <div class="media-body">
                              <span class="mb-0 text-sm">{{Row5[2]}}</span>
                            </div>
                            </a>
                          </div>
                        </th>
                        <td>{{Row5[3]}}</td>
                        <td>{{Row5[4]}}</td>
                        <td>{{Row5[5]}}</td>
                        <td>{{Row5[6]}}</td>
                        <td>{{Row5[7]}}</td>
                        <td>{{Row5[8]}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer py-4">
                  <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                      <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                          <i class="fas fa-angle-left"></i>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class={{pageItem1}}>
                        <a class="page-link" (click)="paginaUno()">1</a>
                      </li>
                      <li class={{pageItem2}}>
                        <a class="page-link" (click)="paginaDos()">2 <span class="sr-only">(current)</span></a>
                      </li>
                      <li class={{pageItem3}}>
                        <a class="page-link" (click)="paginaTres()">3 <span class="sr-only"></span></a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div> 
            </div>
          
          <div class="col-md-3" style="padding: 5px;">
            <div class="card" style="height:50%">                         
              <div class="center" style="overflow: scroll; overflow-x: hidden;">
                <a class="twitter-timeline" href="https://twitter.com/CoinMarketCap?ref_src=twsrc%5Etfw">Cargando...</a> 
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>  
    </body>
    
</html>